@import "@styles/theme.scss";
// $color-brand: pink;
// @import "~taro-ui/dist/style/index.scss";

.home-modal {
    margin: 20px;

    &-picker {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        width: 100%;
        &-bg {
            background    : #F7F7F7;
            border-radius : 30px;
            padding       : 8px 20px;
            color: #666;

            // line-height: 30px;
        }
        &-txt {
        }
    }

    &-form {
        margin: 40px 0
    }

    &-swiper {
        height     : 80px;
        margin-top : 60px;
        // display    : inline-block;
        white-space: nowrap;
        overflow-x : scroll;
        overflow-y : hidden;

        &-item {
            display    : inline-block;
        }
    }

    &-tag {
        // width:20px
    }
}

// .at-tag{
//     margin:0 40px;
// }

// .tags {
//     display: flex;
//     flex-direction: row;
//     width: 120px;
// }

.picker-txt {
    font-size: 30px;
    // color : #fff;
}